@font-face {
  font-family: 'iconfont';  /* project id 295212 */
  src: url('//at.alicdn.com/t/font_68r5lyvz2ajj1yvi.eot');
  src: url('//at.alicdn.com/t/font_68r5lyvz2ajj1yvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_68r5lyvz2ajj1yvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_68r5lyvz2ajj1yvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_68r5lyvz2ajj1yvi.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i{
  font-family: iconfont;
}

.right-arrow::after{
  content: "\e6a7";
}

.close-btn::after{
  content: "\e62f";
}
