//@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
//  .border1px{
//    &::after{
//      transform: scaleY(0.7);
//    }
//  }
//}
//
//@media (-webkit-min-device-pixel-ratio:0.5),(min-device-pixel-ratio:0.5){
//  .border1px{
//    &::after{
//      transform: scaleY(10);
//    }
//  }
//}
//
//@media (-webkit-min-device-pixel-ratio:1),(min-device-pixel-ratio:1){
//  .border1px{
//    &::after{
//      transform: scaleY(10);
//    }
//  }
//}
//
//@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
//  .border1px{
//    &::after{
//      transform: scaleY(0.5);
//    }
//  }
//}
body{
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', arial;
}
@media (min-resolution: 2dppx){
  .border1px{
    &::after{
      transform: scaleY(0.5);
    }
  }
}

@media (min-resolution: 1.5dppx){
  .border1px{
    &::after{
      transform: scaleY(0.7);
    }
  }
}

.clearfix{
  &:after, &:before{
    display: block;
    content:" ";
    clear: both;
  }
}


