@mixin border-1px($color){
  position: relative;
  &::after {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid $color;
    content: ' ';
  }
}

@mixin bg-image($url){
  background-image: url($url + "@2x.png");
  @media (min-resolution: 3dppx){
    background-image: url($url + "@3x.png");
  }
}
